@use "variables" as *;
@use "sass:map";


@mixin huge {
  font-size: $font-size-huge;
  font-family: $font-family-inter;
  font-weight: $font-weight-extra-bold;
  font-style: normal;
  line-height: 1.1;
  letter-spacing: $font-letter-spacing-normal;
}


@mixin header1 {
  font-size: $font-size-h1;
  font-family: $font-family-inter;
  font-weight: $font-weight-bold;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: $font-letter-spacing-normal;
}

@mixin header2 {
  font-size: $font-size-h2;
  font-family: $font-family-inter;
  font-weight: $font-weight-bold;
  font-style: normal;
  line-height: 1.3;
  letter-spacing: $font-letter-spacing-normal;
}

@mixin header3 {
  font-size: $font-size-h3;
  font-family: $font-family-inter;
  font-weight: $font-weight-bold;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: $font-letter-spacing-normal;
}

@mixin subtitle {
  font-size: $font-size-h3;
  font-family: $font-family-inter;
  font-weight: $font-weight-medium;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: $font-letter-spacing-normal;
}

@mixin body {
  font-size: $font-size-body;
  font-family: $font-family-inter;
  font-weight: $font-weight-bold;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: $font-letter-spacing-normal;
}

@mixin bold {
  font-size: $font-size-body;
  font-family: $font-family-inter;
  font-weight: $font-weight-medium;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: $font-letter-spacing-normal;
}

@mixin small {
  font-size: $font-size-small;
  font-family: $font-family-inter;
  font-weight: $font-weight-medium;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: $font-letter-spacing-normal;
}

@mixin grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  margin: auto;
  width: 90%;
  height: 100%;
}

@mixin grid2 {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  margin: auto;
  width: 90%;
  height: 100%;
}

@mixin respond-to($breakpoint) {
  $query: map.get($breakpoints, $breakpoint);

  @if $query {
    @media (#{$query}) {
      @content;
    }
  }

  @else {
    @error "No value found for `#{$breakpoint}` in the `$breakpoints` map.";
  }
}