@use "globals" as *;

.projects {
    .container-projects {
        background-color: rgba($color: $black, $alpha: 0.3);
        @include grid;
        margin-top: 3rem;
        padding: 2rem;
        border-radius: 2rem;

        @include respond-to("small") {
            @include grid2;
        }

        h1 {
            text-align: center;
            grid-column: 1/13;

            @include respond-to("small") {
                @include header3;
                grid-column: 1/6;
            }
        }

        .card {
            grid-column: 1/13;
            display: flex;

            @include respond-to("small") {
                display: inline;


            }

            justify-content: space-between;
            padding-top: 1.5rem;

            @include respond-to("small") {
                grid-column: 1/6;
            }

            img {
                width: 45rem;
                border-radius: 1rem;

                @include respond-to("small") {
                    width: 23rem;
                    height: 12rem;
                    border-radius: 1rem;
                    margin-top: 0.7rem;


                }
            }

            h3 {
                padding-left: 15rem;
                padding-bottom: 1.5rem;

                @include respond-to("small") {
                    padding-left: 2rem;
                }
            }

            p {
                padding-left: 3rem;
                padding-bottom: 2rem;

                @include respond-to("small") {
                    padding-left: 2rem;
                }

                span {
                    color: $terciary;
                }
            }

            a {
                padding-left: 3rem;
                font-size: 50px;
                color: $white ;

            }

        }
    }

}