/* color */
$black: #000000;
$primary: #c4ff84;
$secondary: #8487ff;
$terciary: #fd84ff;
$white: #ffffff;
/* number */
$font-letter-spacing-normal: -0.0625rem;
$font-size-small: 0.875rem;
$font-size-body: 1rem;
$font-size-h3: 1.5rem;
$font-size-h2: 2.5rem;
$font-size-h1: 4rem;
$font-size-huge: 5.3125rem;
/* string */
$font-family-inter: Inter;
$font-weight-bold: Bold;
$font-weight-extra-bold: Extra Bold;
$font-weight-medium: Medium;

$breakpoints: (
  "small": "max-width: 599px",
);

@font-face {
  font-family: "Inter";
  src: url(../assets/fonts/Inter-Medium.woff2);
  font-weight: 500;
}

@font-face {
  font-family: "Inter";
  src: url(../assets/fonts/Inter-Bold.woff2);
  font-weight: 600;
}

@font-face {
  font-family: "Inter";
  src: url(../assets/fonts/Inter-ExtraBold.woff2);
  font-weight: 700;
}